<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><%= title %></title>

        <!-- ** CSS ** -->
        <!-- base library -->
        <link rel="stylesheet" type="text/css" href="htdocs/js/extjs/resources/css/ext-all.css" />
        <link rel="stylesheet" type="text/css" href="htdocs/css/styles.css" />
        <link rel="stylesheet" type="text/css" href="htdocs/css/icons.css" />

        <!-- overrides to base library -->


        <!-- ** Javascript ** -->
        <!-- ExtJS library: base/adapter -->
        <script type="text/javascript" src="htdocs/js/extjs/adapter/ext/ext-base.js"></script>
        <!-- ExtJS library: all widgets -->
        <script type="text/javascript" src="htdocs/js/extjs/ext-all-debug.js"></script>


        <!-- overrides to library -->

        <!-- extensions -->
        <script type="text/javascript" src="htdocs/js/extjs/startmenu.js"></script>
        <!-- page specific -->

        <script type="text/javascript">
            // var moduleWindows = [];
            Ext.onReady(function() {
                var startMenu = new Ext.ux.StartMenu({
                    iconCls: 'user',
                    height: 300,
                    shadow: true,
                    // title: '<%= title %>',
                    width: 320
                });

                 Ext.Ajax.request({
                   url: 'modules',
                   success: function(response) {
                       var decoded = JSON.parse(response.responseText);
                       Ext.each(decoded.modules, function(module) { 
                          startMenu.add({
                               text: module.display.deu,
                               iconCls: module.icon,
                               handler: function() {
                                   var window = new Ext.Window({
                                       width: 600,
                                       height: 400,
                                       title: module.display.deu,
                                       collapsible: true,
                                       maximizable: true,
                                       iconCls: module.icon,
                                       autoLoad: (module.index != undefined) ? {
                                           url: 'modules/getmodule?module='+module.name+'&action='+module.index.action,
                                           scripts: true
                                       } : false

                                   });
                                   // moduleWindows.push(window);
                                   window.show();
                               }
                           });
                       });
                   }
                });

                startMenu.addTool({
                    text: 'Administration',
                    iconCls: 'admin-icon',
                    handler: function() {
                    }
                });

                startMenu.addTool({
                    text: 'Einstellungen',
                    iconCls: 'options-icon',
                    handler: function() {
                    }
                });
                startMenu.addTool({
                    text: 'Abmelden',
                    iconCls: 'logout-icon',
                    handler: function() {
                        Ext.Msg.show(
                        { 
                            title: 'Abmelden',
                            msg:   'Sind Sie sicher, dass Sie die Sitzung beenden wollen?',
                            buttons: Ext.Msg.YESNO,
                            icon: Ext.MessageBox.QUESTION,
                            fn: function(button) {
                                if (button == 'yes') {
                                    Ext.Ajax.request({
                                       url: 'auth/logout',
                                       success: function() {
                                           window.location.reload();
                                       },
                                       failure: function() {
                                           
                                       }
                                    });
                                }
                            }
                        });
                    }
                });

                var taskBar = new Ext.Panel({
                    autoWidth: true,
                    height: 36,
                    border: true,
                    frame: true,
                    layout:'column',
                    applyTo: 'x-taskbar',
                    items: [
                        {
                            xtype: 'button',
                            text: 'Start',
                            width: 150,
                            menu: startMenu
                        }
                    ]
                });
            });
        </script>

    </head>
    <body class="desktop">
        <div id="x-taskbar"></div>
        <div id="x-desktop">
        </div>
    </body>
</html>